Part 2

Dictionaries are used to store data values in key:value pairs

In [35]:
import pandas as pd

In [36]:
cars = {
    "brand": ["Ford", "Chevrolet", "Toyota", "Honda"],
    "electric": [False, False, False, True],
    "year": [1964, 2020, 2019, 2018]
}
cars["brand"]

['Ford', 'Chevrolet', 'Toyota', 'Honda']

In [37]:
df=pd.DataFrame(cars) # --> covert it to rows and cols
df

       brand  electric  year
0       Ford     False  1964
1  Chevrolet     False  2020
2     Toyota     False  2019
3      Honda      True  2018

In [38]:
type(df.brand)   # --> col (series) all the row of single col 
type(df['brand'])

pandas.core.series.Series

In [39]:
df.brand # access by a dot

0         Ford
1    Chevrolet
2       Toyota
3        Honda
Name: brand, dtype: object

In [40]:
df['brand']  # access by a key

0         Ford
1    Chevrolet
2       Toyota
3        Honda
Name: brand, dtype: object

In [41]:
df[['brand','year']] # to access 2 cols

       brand  year
0       Ford  1964
1  Chevrolet  2020
2     Toyota  2019
3      Honda  2018

In [42]:
df.iloc[0] # in location 0

brand        Ford
electric    False
year         1964
Name: 0, dtype: object

In [44]:
df.iloc[:,:] # all rows for all 
df

       brand  electric  year
0       Ford     False  1964
1  Chevrolet     False  2020
2     Toyota     False  2019
3      Honda      True  2018