# Add or remove rows

In [3]:
import pandas as pd

In [4]:
# dictionary 
cars = { 
    "brand": ["Ford", "Chevrolet", "Toyota", "Honda"],
    "electric": [False, False, False, True],
    "year": [1964, 2020, 2019, 2018],
    "engine":['F5','F8','F9','F4']
}
df=pd.DataFrame(cars)
df

       brand  electric  year engine
0       Ford     False  1964     F5
1  Chevrolet     False  2020     F8
2     Toyota     False  2019     F9
3      Honda      True  2018     F4

In [5]:
df['model']= df['brand']+' '+df['engine']
df

       brand  electric  year engine         model
0       Ford     False  1964     F5       Ford F5
1  Chevrolet     False  2020     F8  Chevrolet F8
2     Toyota     False  2019     F9     Toyota F9
3      Honda      True  2018     F4      Honda F4

In [6]:
df['model'].str.split(' ',expand=True) # ' ' الحاجه الي هتفصل بينهم 
# expand --> seprate each in one col

           0   1
0       Ford  F5
1  Chevrolet  F8
2     Toyota  F9
3      Honda  F4

In [7]:
# df.append({'brand': 'BMW'}, ignore_index=True) deprecated !!!!!!!!!!!!!

In [8]:
df.drop(columns=['model']) 
df.drop(index=3) # drop index means row !

       brand  electric  year engine         model
0       Ford     False  1964     F5       Ford F5
1  Chevrolet     False  2020     F8  Chevrolet F8
2     Toyota     False  2019     F9     Toyota F9

# Sorting

In [23]:
df.sort_values(ascending=True,by='year',inplace=True)
# df.sort_values(ascending=[True,False],by=['brand','year'])  --> sort using 2 cols  using 2 ascending

In [25]:
df  # notice here the index not sorted

       brand  electric  year engine         model
0       Ford     False  1964     F5       Ford F5
3      Honda      True  2018     F4      Honda F4
2     Toyota     False  2019     F9     Toyota F9
1  Chevrolet     False  2020     F8  Chevrolet F8

In [27]:
df.sort_index() # sort the index

       brand  electric  year engine         model
0       Ford     False  1964     F5       Ford F5
1  Chevrolet     False  2020     F8  Chevrolet F8
2     Toyota     False  2019     F9     Toyota F9
3      Honda      True  2018     F4      Honda F4

In [29]:
df['engine'].sort_values() # sort column

3    F4
0    F5
1    F8
2    F9
Name: engine, dtype: object

In [33]:
# df['year'].nlargest(2) --> اكبر اتنين
df['year'].nsmallest(2) # --> اصغر اتنين

0    1964
3    2018
Name: year, dtype: int64