# Add or remove rows

In [1]:
import pandas as pd

In [6]:
# dictionary 
cars = { 
    "brand": ["Ford", "Chevrolet", "Toyota", "Honda"],
    "electric": [False, False, False, True],
    "year": [1964, 2020, 2019, 2018],
    "engine":['F5','F8','F9','F4']
}
df=pd.DataFrame(cars)
df

       brand  electric  year engine
0       Ford     False  1964     F5
1  Chevrolet     False  2020     F8
2     Toyota     False  2019     F9
3      Honda      True  2018     F4

In [18]:
df['model']= df['brand']+' '+df['engine']
df

       brand  electric  year engine         model
0       Ford     False  1964     F5       Ford F5
1  Chevrolet     False  2020     F8  Chevrolet F8
2     Toyota     False  2019     F9     Toyota F9
3      Honda      True  2018     F4      Honda F4

In [19]:
df['model'].str.split(' ',expand=True) # ' ' الحاجه الي هتفصل بينهم 
# expand --> seprate each in one col

           0   1
0       Ford  F5
1  Chevrolet  F8
2     Toyota  F9
3      Honda  F4

In [31]:
# df.append({'brand': 'BMW'}, ignore_index=True) deprecated !!!!!!!!!!!!!

In [29]:
df.drop(columns=['model']) 
df.drop(index=3) # drop index means row !

       brand  electric  year engine
0       Ford     False  1964     F5
1  Chevrolet     False  2020     F8
2     Toyota     False  2019     F9
3      Honda      True  2018     F4